---
import BaseLayout from '../../layouts/BaseLayout.astro';
import '../../styles/global.css';
---

<BaseLayout
  title="Accueil - Blog Technique"
  description="Page d'accueil du blog technique bilingue."
>
  <h1 class="text-2xl font-bold">Welcome to the home page</h1>
  <p>Welcome to the blog !</p>
  <button class="btn btn-accent mt-4">Test Button</button>
</BaseLayout>
