---
import { getLangFromUrl, t } from '../../lib/i18n'; // Adapter le chemin

const lang = getLangFromUrl(Astro.url);
---
<footer class="bg-base-200 p-4 mt-8 text-center">
  <p>{t('footer.copyright', lang)}</p>
</footer>
