---
import BaseLayout from '../../layouts/BaseLayout.astro';
import "../../styles/global.css";
---
<BaseLayout title="Accueil - Blog Technique" description="Page d'accueil du blog technique bilingue.">
  <h1 class="text-2xl font-bold">Contenu de la Page d'Accueil </h1>
  <p>Bienvenue sur le blog !</p>
  <button class="btn btn-accent mt-4">Bouton test</button>
</BaseLayout>
